*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FAFBFB;
    z-index: 1000;
}

.titulo__principal{
    color: #FAFBFB;
    font-size: 14px;
}

/*HEADER SUPERIOR*/
.header__superior{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #495660;
    padding: 10px;
    /*height: 30px;*/
}


.search input{
    width: 150px;
    padding: 10px;
    background: #FAFBFB;
    height: 12px;
}

/*BARRA MENU*/

.container__menu{
    width: 100%;
    height: 50px;
    background: #FAFBFB;
    padding: 0px 50px;
    border-bottom: 4px solid;
    border-color: #EA1C2D;
    
}

.menu{
    /*width: 1200px;*/
    width: 100%;
    margin: auto;
    height: 100%;
}

.nav{
    height: 100%;

}

nav > ul {
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
    justify-content: center;
}

nav  ul  li a img{
    height: 30px;
}


nav > ul > li:first-child > a{
    transition: scale(1.1);
    background: #EA1C2D;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}

nav > ul > li:first-child > a:hover{
    transition: scale(1.1);
    background: #FAFBFB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}


nav > ul > li > a:hover{
    transition: scale(1.1);
    background: #EA1C2D;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #FAFBFB;
    
}

/*
nav > ul > li:first-child > a{
    background-image: url(../media/logos/Beccar_Logo-Mix-Transparente.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25px 130px;
}

nav > ul > li:first-child > a{
    background-image: url(../media/logos/Beccar_Logo-Mix-Transparente.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center center;
}
*/

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #495660;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transition: scale(1.1);
    background: #EA1C2D;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: #FAFBFB;
    font-size: 19px;
}

/*
#selected{
    transform: scale(1.1);
    background-color: #CEC9C8;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

}
*/

/*SUBMENU*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #FAFBFB;
    position: absolute;
    top: 70px;
    padding: 14px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 63px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #EA1C2D;
    position: absolute;
    top: -12px;
    left: 20px; 

}

nav ul li ul li a{
    display: block;
    color: #495660;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #EA1C2D;
    color: #FAFBFB;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

/*CAROUSEL DE IMAGENES*/
.c-item{
    height: 480px;
    
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    
}


/*LINEA GRIS PRINCIPAL*/
.linea_gris{
    background-color: #FAFBFB;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20px;
}


/*MENU DE IMAGENES DE LAS UNIDADES*/
.container_img{
    width: 100%;
    margin: auto;
    background: #495660;
   
}

.menu_img{
    display: flex;
    justify-content: space-between;
}

.row1-i{
    max-width: auto;
    padding: 1em;
}

.row1-i a{
    text-align:center;
}

.row1-i a img{
    height: 100px;
}

.row2-i{
    max-width: auto;
    padding: 1em;
}

.row2-i a{
    text-align:center;
}

.row2-i a img{
    height: 100px;
}

.row3-i{
    max-width: auto;
    padding: 1em;
}

.row3-i a{
    text-align:center;
}

.row3-i a img{
    height: 100px;
}

.row4-i{
    max-width: auto;
    padding: 1em;
}

.row4-i a{
    text-align:center;
}

.row4-i a img{
    height: 100px;
}

.row5-i{
    max-width: auto;
    padding: 1em;
}

.row5-i a{
    text-align:center;
}

.row5-i a img{
    height: 100px;
}

.row6-i{
    max-width: auto;
    padding: 1em;
}

.row6-i a{
    text-align:center;
    
}

.row6-i a img{
    height: 100px;
}


/*MENU DE UNIDADES*/
.container_unidades{
    width: 100%;
    margin: auto;
    padding: 0px 80px;
    background: #000000;

}

.menu_unidades{
    display: flex;
    justify-content: space-between;
}

.row1-u{
    max-width: auto;
    padding: 1em;
}

.row1-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}

.row2-u{
    max-width: auto;
    padding: 1em;
}

.row2-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}

.row3-u{
    max-width: auto;
    padding: 1em;
}

.row3-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}

.row4-u{
    max-width: auto;
    padding: 1em;
}

.row4-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}

.row5-u{
    max-width: auto;
    padding: 1em;
}

.row5-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}


.row6-u{
    max-width: auto;
    padding: 1em;
}

.row6-u a{
    font-size: 20px;
    text-align:center;
    color: #FAFBFB;
}


/*NOTICIAS*/
.container_noticias{
    background-color: #495660;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
}


.container_noticias .noticias label{
    background-color: #EA1C2D;
    border-radius: 14px;
    font-size: 30px;
    margin: 50px;
}

.noticias label{
    float: center;
}

/*FOOTER*/
.footer{
    width: 100%;
    background: #FAFBFB;
    color: #495660; 
    border-top: 4px solid;
    border-color: #EA1C2D;
}

.container-footer-all{
    width: 100%;
    margin: auto;
    padding: 10px;
}


.container-body{
    display: flex;
    justify-content: space-between;
}


.column-1{
    max-width: auto;
    /*max-width: 320px; */
    padding: 1em;
}

.column-1 .row_f img{
    width: 110px;
    height: 34px;
    display: block;
    margin: auto;
}

.column-1 .row_f{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
}

.column-1 .row_f a{
    color: #495660;
    text-align: left;
}


.column-2{
    max-width: auto;
    /*max-width: 320px; */
    padding: 1em;
}

.column-2 h1{
    font-size: 20px;
    text-align: center;
}

.column-2 .row_f{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
}

.column-2 .row_f a{
    color: #495660;
    text-align: left;
}

.column-3{
    max-width: auto;
    padding: 1em;
}

.column-3 h1{
    font-size: 20px;
    text-align: center;
}

.column-3 p{
    font-size: 14px;
    color: #495660;
    margin-top: 20px;
    text-align: center;
    
}

.row_f{
    margin-top: 20px;
    display: flex;
    
}

.row_f img{
    width: 30px;
    height: 30px;
}

.row_f label{
    margin-top: 10px;
    margin-left: 20px;
    color: #495660;
    font-size: 14px;
}


.column-4{
    max-width: auto;
    padding: 1em;
}

.column-4 h1{
    font-size: 20px;
    text-align:center;
}

.column-5{
    max-width: auto;
    padding: 1em;
}

.column-5 h1{
    font-size: 20px;
    text-align:center;
}

.column-6{
    max-width: auto;
    padding: 1em;
}

.column-6 h1{
    font-size: 20px;
    text-align: center;
}

.column-6 img{
    height: 40px;
    display: block;
    margin: auto;
}

.container-footer{
    width: 100%;
    background: #495660;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-top: 4px solid;
    border-color: #EA1C2D;
}

.copyright{
    font-size: 14px;
    color:#FAFBFB;
}

.copyright a{
    text-decoration: none;
    font-size: 14px;
    color:#FAFBFB;
    font-weight: bold;
}

.information{
    font-size: 14px;
    color:#FAFBFB;
}

.information a{
    font-size: 14px;
    text-decoration: none;
    color:#FAFBFB;
}

.footer_b{
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.fondo{
    height: 900px;
    display: block;
    margin: auto;
}

/*ELEMENTOS RESPONSIVOS*/
.icon__menu{
    font-size: 45px;
    color: #495660;
    cursor: pointer;
    width: 45px;
    height: 100%;
    display: none;
    align-items: center;

}

#label__check{
    width: 45px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}


@media (max-width: 760px){

    /*BARRA DE NAVEGACION*/
    .search input{
        display: none;
    }

    .titulo__principal h2{
        display: none;
    }

    .header__superior{
        padding: 10px;
    }
    
    nav > ul{
        flex-direction: column;
        background-color: #FAFBFB;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 100px;

    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }
    

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    /*FOOTER*/
    .container-body{
         display: block; 
         
    }

}
